<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>signupserv</servlet-name>
        <servlet-class>signupserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fptserv</servlet-name>
        <servlet-class>fptserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ansserv</servlet-name>
        <servlet-class>ansserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rpserv</servlet-name>
        <servlet-class>rpserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wait</servlet-name>
        <servlet-class>wait</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginserv</servlet-name>
        <servlet-class>loginserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>erpserv</servlet-name>
        <servlet-class>erpserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutserv</servlet-name>
        <servlet-class>logoutserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frserv</servlet-name>
        <servlet-class>frserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchserv</servlet-name>
        <servlet-class>searchserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frqserv</servlet-name>
        <servlet-class>frqserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefrnd</servlet-name>
        <servlet-class>deletefrnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptfr</servlet-name>
        <servlet-class>acceptfr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefr</servlet-name>
        <servlet-class>deletefr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>helpserv</servlet-name>
        <servlet-class>helpserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefrndrqst</servlet-name>
        <servlet-class>deletefrndrqst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>denyfr</servlet-name>
        <servlet-class>denyfr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkmailserv</servlet-name>
        <servlet-class>checkmailserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changemail</servlet-name>
        <servlet-class>changemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delac</servlet-name>
        <servlet-class>delac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>switchserv</servlet-name>
        <servlet-class>switchserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delfr</servlet-name>
        <servlet-class>delfr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileuploadserv</servlet-name>
        <servlet-class>fileuploadserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scrapserv</servlet-name>
        <servlet-class>scrapserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scrapservvisit</servlet-name>
        <servlet-class>scrapservvisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inserttest</servlet-name>
        <servlet-class>inserttest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupserv</servlet-name>
        <url-pattern>/signupserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fptserv</servlet-name>
        <url-pattern>/fptserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ansserv</servlet-name>
        <url-pattern>/ansserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rpserv</servlet-name>
        <url-pattern>/rpserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wait</servlet-name>
        <url-pattern>/wait</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginserv</servlet-name>
        <url-pattern>/loginserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>erpserv</servlet-name>
        <url-pattern>/erpserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutserv</servlet-name>
        <url-pattern>/logoutserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frserv</servlet-name>
        <url-pattern>/frserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchserv</servlet-name>
        <url-pattern>/searchserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frqserv</servlet-name>
        <url-pattern>/frqserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefrnd</servlet-name>
        <url-pattern>/deletefrnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptfr</servlet-name>
        <url-pattern>/acceptfr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefr</servlet-name>
        <url-pattern>/deletefr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helpserv</servlet-name>
        <url-pattern>/helpserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefrndrqst</servlet-name>
        <url-pattern>/deletefrndrqst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>denyfr</servlet-name>
        <url-pattern>/denyfr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkmailserv</servlet-name>
        <url-pattern>/checkmailserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changemail</servlet-name>
        <url-pattern>/changemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delac</servlet-name>
        <url-pattern>/delac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>switchserv</servlet-name>
        <url-pattern>/switchserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delfr</servlet-name>
        <url-pattern>/delfr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileuploadserv</servlet-name>
        <url-pattern>/fileuploadserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scrapserv</servlet-name>
        <url-pattern>/scrapserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scrapservvisit</servlet-name>
        <url-pattern>/scrapservvisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inserttest</servlet-name>
        <url-pattern>/inserttest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
