/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2014, 7:42:45 AM
    Author     : hyE
*/

#bodyback
	{
	background-image:url('pics/sub.jpg');
	background-repeat:no-repeat;
	}
#sitename
		{
			font-family:"Courier New","Verdana",sans-serif;
			font-size:4em;
		}
#generalfont
		{font-family:"Eras Light ITC",sans-serif;
		}
#table1back
	{
		font-family:"Eras Light ITC",sans-serif;
		text-align:center;
	}
a
	{
	color:black;
	font-family:"Eras Light ITC",sans-serif;
	}