/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2014, 8:22:49 AM
    Author     : hyE
*/

#bodyback
	{
	background-image:url('pics/termsback.jpg');
	background-repeat:no-repeat;
	font-family:"Eras Light ITC",sans-serif;
	}